* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0px;
    background-color: #FFFAFA;
}

img{
    float: left;
    width: 15%;
    border: thin solid;
    border-radius: 100%;
    padding: 10px;
    margin: 90px 20px 10px 0;
}

.lateral{
    background-color: #CD5C5C;
}

#menu ul {
    padding:10px;
    margin:0px;
    background-color:#CD5C5C;
    list-style:none;
    font-size: 18px;
    /* text-align: center; */
}

#menu ul li { 
    display: inline;
    margin: 50px;
}

#menu ul li a {
    padding: 10px 100px;
    display: inline-block;
    color: rgb(243, 242, 242);
    text-decoration: none;
    border-bottom:4px solid #EDEDED;
}

#menu ul li a:hover {
    color: #f5f0f0;
    border-bottom:4px solid #d39d9d;
}

.conteudo{
    background-color: #FFEFD5;
    color: black;
    margin: 15px;
}

div ul a{
    text-decoration: none;
}

div li {
    width:500px;
    list-style: none;
    padding:5px 10px;
}